* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, sans-serif;
  background: #19152dde;
  overflow: hidden;
}

/* ================= 
TWO COLUMN LAYOUT
================= */
/* center everthing vertically  */
.container {
  width: 80vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* css for creating two column layout  */
.subcontainer {
  display: grid;
  grid-template-columns: 50% 40%;
}

/* overlap left side div from left side using transform and z-index  */
.left {
  transform: translateX(55px);
  z-index: 1;
}

/* overlap right side div from right side */
.right {
  background: #3c3bcb;
  margin-top: 2rem;
  margin-bottom: 2rem;
  transform: translateX(50px);
}

/* layout end  */

/* ================= 
CSS FOR PRODUCT 
================= */

/* css for adding bg image on product container div */
.product-container {
  max-width: 500px;
  position: relative;
  margin: auto;
  background-image: url("bg.png");
  box-shadow: 43px 26px 145px -2px rgba(0, 0, 0, 0.51);
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
}

/* ================= 
CSS FOR CHECKOUT CONTAIINER
================= */

.checkout-container {
  margin: auto;
  padding: 55px 35px;
  border-top-right-radius: 20px;
  height: 100%;
  border-bottom-right-radius: 20px;
}
